<!-- Encabezado que indica la sección del menú -->
<h2>Agentes</h2>

<!-- Contenedor del menú -->
<div class="heroes-menu">
  <!-- Utilizamos una directiva estructural *ngFor para iterar sobre la lista de héroes -->
  <!-- La directiva *ngFor crea un elemento 'a' para cada 'hero' en la lista 'heroes' -->
  <!-- El enlace 'routerLink' dirige a la vista de detalles del héroe con su ID como parte de la ruta -->
  <!-- El texto del enlace muestra el nombre del héroe -->
  <a *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}">
    {{hero.name}}
  </a>
</div>

<!-- Componente de búsqueda de héroes -->
<app-hero-search></app-hero-search>
