/* Estilo para centrar el texto de todos los elementos h2 */
h2 {
  text-align: center;
}

/* Estilo para el contenedor de los elementos del menú de héroes */
.heroes-menu {
  /* Estilos de margen, padding y ancho máximo */
  padding: 0; 
  margin: auto; 
  max-width: 1000px;

  /* Estilos de flexbox para organizar los elementos */
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-around;
  align-content: flex-start; 
  align-items: flex-start;
}

/* Estilo para los elementos del menú de héroes */
a {
  /* Estilos de apariencia y dimensiones */
  background-color: #ce0026; 
  border-radius: 2px; 
  padding: 1rem; 
  font-size: 1.2rem; 
  text-decoration: none; 
  display: inline-block; 
  color: #fff; 
  text-align: center; 
  width: 100%; 
  min-width: 70px; 
  margin: .5rem auto; 
  box-sizing: border-box;

  /* Estilos de flexbox */
  order: 0; 
  flex: 0 1 auto; 
  align-self: auto;
}

/* Estilo para los elementos del menú de héroes cuando se hace hover */
a:hover {
  background-color: black;
}

/* Estilo para los elementos del menú de héroes cuando se hace hover */
@media (min-width: 600px) {
  a {
    width: 18%; /* Ancho de los elementos en pantallas más grandes */
    box-sizing: content-box; /* El ancho ya no incluye el relleno y el borde */
  }
}

