<!--1.Eliminamos el texto predeterminado por la propiedad hero que tenemos-->
<!--<h2>{{hero}}</h2>-->
<!--2.Actualizamos el enlace en la plantilla para anunciar el nombre del héroe y mostrar ambos id en una pantalla de detalles
<h2>{{hero.name}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div> -->
<!--3.Luego la palabra uppercasee después del | activa el archivo uppercasepipe.-->

<!--<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>-->
<!--4.Al principio no funcionara el ngModel por que no se esta importando correctamente-->
<!--<div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
  </div> -->
    <h2>Mis heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>
 <!--5.Creamos la lista para heroes-->
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div>id: {{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div>